@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');



*{
    padding:0;
    margin:0;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
header{
    padding:1rem 19rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14141466;
    color: white;
}
nav{
    display: flex;
    margin: auto;
}
nav li{
    list-style: none;
    padding:0rem 2rem;
}
nav li a{
    text-decoration: none;
    color:#fff;
    font-size: 1.1rem;
}
.title{
    font-family: "Sofia", sans-serif;
}
.firstimge{
    width:100%;
    height:100vh;
    /* background: url('images/cake.jpg') no-repeat center; */
    background: url("images/cake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.centercontent{
    height: calc(100% - 3.7rem);
    color:#cdcccc;
    font-family: "Sofia", sans-serif;
    font-style: italic;
    text-shadow: 2px 2px 2px #ababab;
    font-size:3rem;   
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/*Our Featured Cakes Css*/

.cakes,.about{
    padding:2rem 0rem;
    background-color: #fefae1;
}
.secondtitle,.thirdtitle{
    font-size: 1.8rem;
    font-family:'Kaushan Script',cursive;
    text-align: center;
    width:100%;
}
.row{
    padding:1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.col {
    width: 230px;
    height: 340px;
    margin: 1rem 2rem;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.4);
}

.cakeimage {
    height: 220px;
    width: 100%;
    overflow: hidden;
}

.cakeimage img {
    width: 100%;
    height: 100%;
    transition: 0.5s all ease-in-out;
}

.col:hover img {
    transform: scale(1.2);
}

.col button {
    padding: 9px;
    font-size: 13px;
    /* background-color: #e08b31; */
    background-color: rgb(142, 94, 40);
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s all ease in ease-in-out;
}
.col button:hover{
    background-color: rgb(107, 60, 6);
}
.cakename {
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cakename h3,.cakename p,.cakename a{
    margin: 3px 0px;
}
/* About Us */

.content{
    display:flex;
    justify-content: center;
    align-items: center;
}
.aboutimage{
    width:40%;
    height:300px;
    margin:2rem;
}
.aboutimage img{
    width:100%;
    height:100%;
    border-radius: 12px;
}
.aboutcontent{
    width:40%;
    line-height: 2;
}

/* Footer Section  */

.footersection{
    display: flex;
    justify-content: space-between;
    padding:2rem 14rem;
}
.foottitle h1{
    font-family: "Sofia", sans-serif;
}
.foottitle p{
    font-size: 13px;
}
.wrapper {
    display: inline-flex;
    padding:1rem 0rem;
}

.wrapper .icon {
    margin: 0 4px;
    text-align: center;
    cursor: pointer;
    color:#783e00;
}

.wrapper .icon span {
    display: block;
    height: 30px;
    width: 30px;
    background-color:#fff;
    border-radius: 50%;
}
.wrapper .icon span i {
    line-height: 32px;
    font-size: 15px;
}
.contactus,.address{
    line-height: 1.6;
}