
.productsection{
    display:flex;
    background-color: #fefae1;
    padding:7rem 8rem;
    color: #3F000f;
}
.productimg{
    width:500px;
    height:400px;
    padding-left: 40px;

}
.productimg img{
    height:100%;
    object-fit: contain;
    border-radius: 10px;
}
.productdetail{
    width:67%;
}
.productdetail h1, .productdetail p , .productdetail div{
    padding-bottom:2rem;
    font-size: 18px;   
}
.cakesize button,select{
    padding: 6px 8px;
    background: transparent;
    border-radius: 10px;
    margin-left: 11px;
    border: 2px solid #ababab;
}
.productdetail input[type="submit"],a button{
    padding: 12px 14px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    background-color: antiquewhite;
    border:none;
}
.productdetail input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(174, 155, 129);
}
.cakesize button:hover{
    border-color: #793403;
    cursor:pointer;
}