{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link type="text/css" rel="stylesheet" href="{% static 'home.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'productdetail.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
    <title>Cake Park|{{product.product_name}}</title>
</head>
<body>
    <header style="background-color: #000;">
        <nav>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'products' %}">Our Cakes</a></li>
        </nav>
        <div class="title">
            <h2>Cake Park</h2>
        </div>
        <nav>
            <li><a href="{% url 'home' %}#About">About</a></li>
            <li><a href="{% url 'home' %}#Contact">Contact us</a></li>
        </nav>
    </header>
    <section class="productsection">
        <div class="productimg" style="width: 40%; float: left;">
            <img src="{{product.product_img.url }}" alt="">
        </div>
        <div class="productdetail" style="width: 60%; float: right;">
            <h1 style="font-size: 3rem; color:#3F000f">{{product.product_name}}</h1>
            <p>{{product.product_des}}</p>
            <form method="post" action="{% url 'addtocart' product.product_id %}">
                {% csrf_token %}
                <div class="cakesize">
                    <label for="size">Select Size : </label>
                    <input type="hidden" name="size" id="selectedSize" value="">
                    <button type="button" class="b" onclick="selectSize(this,1)">1 Size</button>
                    <button type="button" class="b" onclick="selectSize(this,2)">2 Size</button>
                    <button type="button" class="b" onclick="selectSize(this,3)">3 Size</button>
                    <button type="button" class="b" onclick="selectSize(this,4)">4 Size</button>
                </div>
                <div class="quantity">
                    <label for="size">Quantity : </label>
                    <select name="quantity" id="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <input type="submit" value="Add to Cart  >">
            </form>     
        </div>
    </section>
    <script>
        function selectSize(select,size){
            document.getElementById('selectedSize').value=size;
            var buttons=document.getElementsByClassName('b');
            for(var i=0;i<buttons.length;i++){
                buttons[i].style.borderColor = '#ababab';
            }
            select.style.borderColor = '#793403';
        };

    </script>
</body>
</html>
