{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'Admin/Adminhome.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'Admin/Adminproducts.css' %}">
    <title>Cake Products | Products</title>
</head>

<body>

    <header style="background-color: #FAFBFE; border-right: 1px solid #E8EBED;">
        <div class="title"style=" color:#000; border-right: 1px solid #FAFBFE;">
            <h3>Cake Park</h3>
        </div>
        <nav style="background-color: #FAFBFE;">
            <div class="admin">
                <div class="adminimg"><img src="{% static 'images/admin1.png' %}" alt=""></div>
                <div class="adminname" style="padding-top:12px;">
                    <h3>Admin</h3>
                </div>
            </div>
            <ul>
                <li><a href=""><img class="icon" src="{% static 'images/dashboard1.png' %}" alt="">Dashboard</a></li>
                <li><a href="{% url 'adminproducts' %}"><img class="icon" src="{% static 'images/products1.png' %}"
                            alt="">Products</a></li>
                <li><a href="{% url 'adminproductorders' %}"><img class="icon" src="{% static 'images/orders1.png' %}" alt="">Orders</a></li>
            </ul>
        </nav>
    </header>
    <div class="dashboard" style="margin-left: 210px;">
        <div class="dastitle" style="background-color: #FAFBFE; color:#000; border-bottom: 1px solid #E8EBED;">
            <h3>Products List</h3>
            <div class="logout">
                <a href="{% url 'logout' %}" style="color:#000; text-decoration: none; ">
                    <h5 style="display: flex; align-items: center; justify-content: center;">Logout <span
                            style="margin-left: 15px;"><img src="{% static 'images/admin1.png' %}" alt=""></span></h5>
                </a>
            </div>
        </div>

        <div class="addbutton">
            <a href="{% url 'adminaddproducts' %}"><button><span style="font-size: 18px; font-weight: bold;"> + </span>Add New Product</button></a>
        </div>
        <section class="productslist">
            {% for product in products %}
                <div class="product">
                    <div class="productimg"><img src="{{ product.product_img.url }}" alt=""></div>
                    <div class="productdetail">
                        <div class="productname" style="width:50%;">
                            <h3>{{ product.product_name }}</h3>
                            <p style="color:#2e2e2e;">{{ product.product_des }}</p>
                        </div>
                        <div class="productprice">
                            <h3>${{ product.product_price }}</h3>
                        </div>
                        <div class="buttons" style="display: flex;">
                            <a href="{% url 'admineditproducts' product.product_id %}"><button class="button" ><img src="{% static 'images/edit.png' %}" alt=""></button></a>
                            <a href="{% url 'admindeleteproduct' product.product_id %}"><button class="button" onclick="return confirmDelete();"><img src="{% static 'images/remove.png' %}" alt=""></button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
    <script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this product?");
    }
</script>
</body>

</html>