@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
}
header{
    height: 100vh;
    width: 210px;
    position: fixed;
}
nav{
    border-top-right-radius: 25px;
    background-color: #fff;
}
nav .admin{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:200px;
}
nav .adminimg{
    height:75px;
    width: 75px;
    border-radius: 50%;
    overflow: hidden;
}
nav .adminimg img{
    height:100%;
    width:100%;
    object-fit: cover;
}
nav ul{
    display:flex;
    flex-direction: column;
}
nav ul li{
    list-style: none;
    padding: 0.5rem 2rem;
}
nav ul li:hover{
    background-color: #000;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color:#000;
    display: flex;
    align-items: center;
}

.back{
    position:absolute;
    height:330px;
    width:100%;
    background-color: #ff8823;
    border-bottom-left-radius:30% ;
    border-bottom-right-radius: 30%;
    z-index: -100;
}
.title{
    width:max-content;
    font-size: 18px;
    /* padding:0.9rem 4rem 0.7rem 3rem; */
    padding:14px 55px;
    color:#fff;
}
.icon{
    width: 20px;
    height:20px;
    margin-right:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dastitle{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 4rem 0.7rem 2rem;
    /* padding: 14px 54px; */
    color: #fff;
}
.welcome{
    margin:2.5rem 2rem;
    color: #fff;
    font-size: 3rem;
}
.boxes{
    margin:2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 230px;
    padding:1rem 2rem;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
}
.img img ,.logout img{
    width:30px;
    height:30px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table {
    margin: 4rem 2rem;
    padding: 2rem;
    border: 1px solid #E8EBED;
    border-radius: 5px;
    color: #191919;
    font-size: 15px;
}
td button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}
td button:hover {
    cursor: pointer;
    background-color: #e76c00;
}